<style>
ion-badge {
    --background: #ff0000;
    --color:  black;
    --padding-bottom : 10px;
    --padding-end : 10px;
    --padding-start : 10px;
    --padding-top : 10px;

}
</style>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Badge Component</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

    <p>color : "primary", "secondary", "tertiary", "success", "warning", "danger", "light", "medium", and "dark"</p>
    <p>mode : "ios" | "md"</p>

  <!-- Default -->
  <ion-badge>90</ion-badge>

  <!-- Colors -->
  <ion-badge color="primary" mode="ios" shard>11</ion-badge>
  <ion-badge color="secondary">22</ion-badge>
  <ion-badge color="tertiary">33</ion-badge>
  <ion-badge color="success">44</ion-badge>
  <ion-badge color="warning">55</ion-badge>
  <ion-badge color="danger">66</ion-badge>
  <ion-badge color="light">77</ion-badge>
  <ion-badge color="medium">88</ion-badge>
  <ion-badge color="dark">99</ion-badge>

  <!-- Item with badge on left and right -->
  <ion-item>
    <ion-badge slot="start">11</ion-badge>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
</ion-content>